{% extends 'aluno/base.html'%}
{% load static %}
{% block content_wrapper %}
<div id="content-wrapper" class="d-flex flex-column">
	<div id="content">
		<div class="container-fluid mt-4">
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
				<a
					href="{% url 'logout' %}"
					class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"
					> Logout</a
				>
			</div>

			<div class="row">
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="text-xs font-weight-bold text-primary text-uppercase mb-1"
									>
										Número Total de Cursos
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										{{ total_cursos }}
									</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-calendar fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="text-xs font-weight-bold text-success text-uppercase mb-1"
									>
										Número Total de Alunos
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										{{ total_alunos }}
									</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-user fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="text-xs font-weight-bold text-success text-uppercase mb-1"
									>
										Número Total de Campus
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										{{ total_campus }}
									</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-building fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	{% include 'aluno/partials/footer.html'%}
</div>
{% endblock %}