{% load static %}
{% url 'index' as url_index %}
{% url 'createCampus' as url_createCampus %}
{% url 'createCurso' as url_createCurso %}
{% url 'createAluno' as url_createAluno %}
{% url 'listCampus' as url_listCampus %}
{% url 'listCurso' as url_listCurso %}
{% url 'listAluno' as url_listAluno %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_index}}">
      <div class="sidebar-brand-icon">
          <i class="fas fa-graduation-cap"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Admin Aluno</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item {% if request.path == url_index %}active{% endif %}">
      <a class="nav-link" href="{{url_index}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Ações
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item {% if request.path == url_createCampus or request.path == url_createCurso or request.path == url_createAluno %}active{% endif %}">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-plus"></i>
          <span>Cadastros</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Cadastros de:</h6>
              <a class="collapse-item {% if request.path == url_createAluno %}active{% endif %}" href="{{url_createAluno}}">Alunos</a>
              <a class="collapse-item {% if request.path == url_createCurso %}active{% endif %}" href="{{url_createCurso}}">Cursos</a>
              <a class="collapse-item {% if request.path == url_createCampus %}active{% endif %} " href="{{url_createCampus}}">Campi</a>
          </div>
      </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item {% if request.path == url_listCampus or request.path == url_listCurso or request.path == url_listAluno %}active{% endif %}">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
          aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-table"></i>
          <span>Listagem</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Listagem de:</h6>
              <a class="collapse-item {% if request.path == url_listAluno %}active{% endif %}" href="{{url_listAluno}}">Alunos</a>
              <a class="collapse-item {% if request.path == url_listCurso %}active{% endif %}" href="{{url_listCurso}}">Cursos</a>
              <a class="collapse-item {% if request.path == url_listCampus%}active{% endif %}" href="{{url_listCampus}}">Campi</a>
          </div>
      </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->